<<<<<<< HEAD
<h1>Welcome to Emerald Hikes! Please Login:</h1>
=======
<h1>Hello, Please Login!</h1>
>>>>>>> ced11a7d619d297de0b860014f62fc00cb4718d9
<%= form_tag "/login_form" do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= label_tag :password %>
  <%= password_field_tag :password%>
  <%= submit_tag "Login" %>
<% end %>