 <h1>Create Account</h1>

<%= form_for @hiker do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :username %></p>
  <p><%= f.text_field :username %></p>
  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>
  <p><%= f.label :experience %></p>
  <p><%= f.select(:experience, ["Novice", "Intermediate", "Expert"], {}, {:class=>"form-control"}) %></p>
  <p><%= f.submit "Register" %></p>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p> <%= error %> </p>
  <% end %>
<% end %>

