 <h1>Create Account</h1>

<%= form_for @hiker do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :experience %>
  <%= f.select(:experience, ["Novice", "Intermediate", "Expert"], {}, {:class=>"form-control"}) %>
  <%= f.submit "Register" %>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p> <%= error %> </p>
  <% end %>
<% end %>

