<h1> Welcome to EmeraldHikes, <%= @hiker.name %> </h1>


<p><strong>Username:</strong><%= @hiker.username %></p>
<p><strong> Experience Level:</strong> <%= @hiker.experience %></p>
<p><strong> My Favorite Trails: </strong></p>
<% @hiker.favorites.each do |favorite| %>
<<<<<<< HEAD
  <p><%= link_to(favorite.trail.name, trail_path(favorite.trail.id)) %></p>

  <%# if @user.avatar.attached? %>
    <#img src= "<%#= url_for(@hiker.avatar) %>">
  <%# end %>
=======
  <p><%= link_to(favorite.trail.name, trail_path(favorite.trail.id)) %> || <%= favorite.rating %></p>

  <% if @user.avatar.attached? %>
    <img src= "<%= url_for(@hiker.avatar) %>">
  <% end %>
>>>>>>> ced11a7d619d297de0b860014f62fc00cb4718d9

  <img class="show-img" src="<%= favorite.trail.img_url%>" alt="<%= favorite.trail.name%>">
<% end %>


<%= button_to "Edit Profile", edit_hiker_path(@hiker), method: :get %>

<%= button_to "Logout", logout_path, method: :delete %>

<%= button_to "Delete My Account", hiker_path(@hiker), method: :delete %>


