<h1> Welcome, <%= @hiker.name %> </h1>

<p><%= @hiker.name %></p>
<p><%= @hiker.username %></p>
<p><%= @hiker.experience %></p>
<% @hiker.favorites.each do |favorite| %>
  <p><%= favorite.trail.name %></p>
  <p><%= favorite.rating %></p>
<% end %>
