<h1> Trail Show Page </h1>

<%=@trail.name%>
 <!-- SHOW A PIC -->

<%=@trail.location%>

<%=@trail.difficulty%>
<%=@trail.attraction%>

<% @trail.favorites.each do |favorite| %>
  <%= favorite.rating  %>
<% end %>

<%= form_for(@favorite) do |f| %>
  <%= f.hidden_field :trail_id, value: @trail.id %>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <%= f.submit "Favorite" %>
<% end %>

<%= form_for(@review) do |f| %>
  <%= f.hidden_field :trail_id, value: @trail.id %>
  <%= f.text_area :text %>
  <%= f.submit "Leave Review" %>
<% end %>
<!-- link to leave a review ->


