<div class="container">

  <h1 class="h1"> <%= @trail.name %> </h1> 

  <div class="row">
    <div class="col-sm-8">
      <%= image_tag @trail.img_url, width:"450px", height:"450px" %>
    </div>

    <div class="col-sm-4">
      <div class="trail-desc">
        <p>Location: <%= @trail.location%></p>
        <p>Average Rating: <%= @trail.average_rating%> ★ </p>
        <p>Description:<%= @trail.attraction %></p>
        <%= form_for(@favorite) do |f| %>
          <%= f.hidden_field :trail_id, value: @trail.id %>
          <p><%= f.submit "Favorite", class: 'btn-custom2' %></p>
        <% end %>
      </div>
    </div>
  </div>

<br/>
    <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

  <div class="row">

    <div class="col-sm">
      <%= form_for @review do |f| %>
        <%= f.hidden_field :trail_id, value: @trail.id %>
        <p> Rate </p>
        <p><%= f.number_field :rating, in: 1..5 %></p>
        <p><%= f.text_area :text, class: "form-control" %></p>
        <%= f.hidden_field(:hiker_id, value: @current_hiker.id) %>
        <%= f.hidden_field(:trail_id, value: @trail.id) %>
        <%= f.submit "Post Review", class: "btn btn-light" %>
      <% end  %>
    </div>

    <div class="col-sm">
      <div class="reviews">
        <h6>Reviews:</h6>
        <% @trail.reviews.each do |review| %>
          <% @reviewer_id = review.hiker_id %>
          <p><%= Hiker.all.find(@reviewer_id).username %> - <%= review.text %></p>
        <% end %>
      </div>

    </div>
  </div>

</div>

