
<div>
  <p>
    <h1><%=@trail.name%></h1>
  </p>

  <img class="show-img" src="<%= @trail.img_url %>" alt="<%= @trail.name%>">

  <p>Location: <%=@trail.location%></p>

  <p>Difficulty: <%=@trail.difficulty%></p>

  <p>Description: <%=@trail.attraction%></p>

</div>

<%= form_for(@favorite) do |f| %>
  <%= f.hidden_field :trail_id, value: @trail.id %>
  <%= f.label :rate %>
  <%= f.number_field :rating, in: 1..5 %>
  <%= f.submit "Rate" %>
<% end %>

<%= form_for(@favorite) do |f| %>
  <%= f.hidden_field :trail_id, value: @trail.id %>
  <%= f.submit "Favorite" %>
<% end %>
</br>
<%= form_for(@review) do |f| %>
  <%= f.hidden_field :trail_id, value: @trail.id %>
  <%= f.text_area :text %>
  <%= f.submit "Leave a Review" %>
<% end %>





