<h1> Trail Show Page </h1>

<%=@trail.name%>
 <!-- SHOW A PIC -->

<%=@trail.location%>

<%=@trail.difficulty%>
<%=@trail.attraction%>
<% @trail.reviews.each do |review|%>
  <%= review %>
<% end %>


<!-- link to leave a review ->

<!-- LINK TO RESTAURANTS NEARBY ->
